/* The whole page */
html {
  height:100%;
}

body {
  font-family:sans-serif;
  margin:0;
  padding:0;
  
  /*position:fixed;*/
  
  display:flex;
  flex-flow:column;
  
  width:100%;
  height:100%;
}

a {
  transition:.25s;
}

main {
  flex:1;
  display:flex;
  flex-flow:row;
}

/* Navigation */
nav {
  width:100%;
  display:flex;
  flex-flow:row;
  background-color:lightgrey;
}

/* Spacing between navbar elements */
nav * {
  margin-left:1mm;
  margin-right:1mm;
}

/* Link styling */
nav a {
  color:gray;
  text-decoration:none;
}

nav a:hover {
  color:black;
}

nav form {
  flex:1;
  display:flex;
  justify-content:flex-end;
  flex-flow:row;
}

nav form input {
  max-width:480px;
}

nav #searchtext {
  flex:1;
}

nav img { /* For the app icon */
  height:1.25cm;
}

/* Filters */
#filters {
  display:flex;
  flex-flow:row;
  background-color:lightgrey;
}

#filters p {
  margin-left:2mm;
  margin-right:2mm;
}

.filter {
  flex:1;
  display:flex;
  flex-flow:column;
  margin:3mm;
}

.filterlabels {
  display:flex;
  justify-content:space-between;
  flex-flow:row;
}

/* The search results area */
#resultpanel {
  flex:1;
  
  display:flex;
  flex-flow:column;
}

#results {
  flex:1;
}

.result {
  display:flex;
  flex-flow:row;
}

.result .nametext {
  flex:3;
}

.result .resultbutton a {
  font-size:24pt;
  color:grey;
  text-decoration:none;
}

.result .resultbutton a:hover {
  color:blue;
}

/* The map panel area (the right-side panel) */
#mappanel {
  flex:2;
  background-color:magenta; /* use an off colour so its shown as a placeholder */
}

#mappanel img {
  width:100%;
  height:100%;
}
