/* The whole page */
body {
  font-family:sans-serif;
  margin:0;
  padding:0;
}

main {
  display:flex;
  flex-flow:row;
}

/* Navigation */
nav {
  width:100%;
  display:flex;
  position:fixed;
  flex-flow:row;
  background-color:lightgrey;
}

/* Spacing between navbar elements */
nav * {
  margin-left:1mm;
  margin-right:1mm;
}

/* Link styling */
nav a {
  color:gray;
  text-decoration:none;
}

nav form {
  flex:1;
  display:flex;
  flex-flow:row;
}

nav #searchtext {
  flex:1;
}

/* For the app icon */
nav img {
  height:1cm;
}

/* The options area */
#options {
  flex:1;
  
  display:flex;
  flex-flow:column;
}

.filter {
  display:flex;
  flex-flow:row;
}

.filter .nametext {
  flex:3;
}

.filter .filterbutton a {
  font-size:24pt;
  color:grey;
  text-decoration:none;
}

.filter .filterbutton a:hover {
  color:blue;
}

#options .button {
  line-height:4cm;
  background-color:darkgrey;
  border:1mm grey solid
}

#options .button:active {
  background-color:grey
}

/* The map panel area (the right-side panel) */
#mappanel {
  background-color:lightgrey;
  flex:2;
}

#mapdata img {
  width:100%;
}

/* Comments section */
#comments article {
  display:flex;
  flex-flow:row;
}

#comments article p {
  flex:1;
}

/* Footer */
footer {
  text-align:center;
}
