/* The whole page */
html {
  height:100%;
}

body {
  font-family:sans-serif;
  margin:0;
  padding:0;
  
  position:fixed;
  
  display:flex;
  flex-flow:column;
  
  height:100%;
}

main {
  display:flex;
  flex-flow:row;
}

/* Navigation */
nav {
  width:100%;
  display:flex;
  flex-flow:row;
  background-color:lightgrey;
}

/* Spacing between navbar elements */
nav * {
  margin-left:1mm;
  margin-right:1mm;
}

/* Link styling */
nav a {
  color:gray;
  text-decoration:none;
  
  transition:.25s;
}

nav a:hover {
  color:black;
}

nav form {
  flex:1;
  display:flex;
  flex-flow:row;
}

nav #searchtext {
  flex:1;
}

nav img { /* For the app icon */
  height:1cm;
}

/* Filters */
#filters {
  display:flex;
  flex-flow:row;
}

#filters p {
  margin-left:2mm;
  margin-right:2mm;
}

.filter {
  flex:1;
  display:flex;
  flex-flow:row;
}

.filter .slider {
  flex:1;
}

/* The options area */
#options {
  flex:1;
  
  display:flex;
  flex-flow:column;
}

#options .button {
  line-height:4cm;
  background-color:darkgrey;
  border:1mm grey solid
}

#options .button:active {
  background-color:grey
}

/* The map panel area (the right-side panel) */
#mappanel {
  background-color:lightgrey;
  flex:2;
}

#mapdata img {
  width:100%;
}

/* Comments section */
#comments article {
  display:flex;
  flex-flow:row;
}

#comments article p {
  flex:1;
}

/* Footer */
footer {
  text-align:center;
}
