<!DOCTYPE html>
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<div class="jumbotron wraprafa "style="background:#f2f2f2">
  <h1 class="display-2 mt-3">What can we do to help?</h1>
	 <div class="row justify-content-center" style="">
		 <div class="col-sm">
			 <div class="container mt-5" style="">
            <h2>Find spot</h2>
						<div class="zoom">
	           <img data-toggle="collapse" data-target="#demo1" src="Images/addPark.png" class="responsive displayed mt-3 mb-3 box-shadow: 10px 10px 5px grey;">
            </div>
							 <div id="demo1" class="collapse">
				          <div class="embed-responsive embed-responsive-16by9">
		               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtPXEAnhYKE" allowfullscreen>
									 </iframe>
	                </div>
			         </div>
			  </div>
		 </div>
		 <div class="col-sm">
		 	<div class="container mt-5" style="">
		 			 <h2>Add spot</h2>
					 <div class="zoom">
					 <img data-toggle="collapse" data-target="#demo" src="Images/park.png" class="responsive displayed mt-3 mb-3">
           </div>
						 <div id="demo" class="collapse">
								<div class="embed-responsive embed-responsive-16by9">
								 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtPXEAnhYKE" allowfullscreen>

								 </iframe>
								</div>
						 </div>
		 	</div>
		 </div>
	</div>
</div>
<div class="container mt-500">
	<p><br><br><br><br><br></p>
	</div>
</body>
</html>
