<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<div class="jumbotron wrap">
  <h1 class="display-4">What can we do to help?</h1>
<div class="row ">
<div class="col-sm-3"></div>
<img data-toggle="collapse" data-target="#demo" src="Images/park.png" class="responsive">
      <div id="demo" class="collapse">
        para encontrar parking haga lo siguiente
      </div>
<img data-toggle="collapse" data-target="#demo1" src="Images/addPark.png" class="responsive">
      <div id="demo1" class="collapse">
        para agregar parking haga lo siguiente videos/howToPark.wmv
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtPXEAnhYKE" allowfullscreen></iframe>
</div>
      </div>
<div class="col-sm-3"></div>
</div>
</div>
</body>
</html>
