<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>

<% 
	// This variable is 'show' if the sidebar is to be shown on page load or '' otherwise.
	// It should show if the user has searched for something
	var showSidebar;
	
	if (query !== "" && query !== null && query !== undefined) { 
		showSidebar = 'show'; // This bootstrap class is applied to the sidebar if the user has searched for something
	} else {
		showSidebar = ''; // No search, no no class to show.
	}
%>

<%# The showSidebar variable. It instructs the sidebar to show if the user has entered a query. %>
<div class="collapse <%= showSidebar %>" id="sidebar">
	<button id="closeSidebarButton" type="button" class="btn" data-toggle="collapse" data-target="#sidebar">
		Close
	</button>
	<h3>Search Results</h3>
	<p>for '<%= query %>'</p>
	
	<ol>
		<li>Westhill</li>
		<li>Inverness</li>
		<li>John o'Groats</li>
		<li>Aviemore</li>
	</ol>
</div>

<div id="content">
	<div id="map">
		<!-- The map is loaded if JavaScript is enabled, otherwise this message is shown -->
		<noscript><p>Unfortunately, we haven't been able to load Google Maps.</p></noscript>
	</div>
</div>

<script>
// Creates a new map, centres it on Aberdeen and places it in the element with the ID 'map'
function initMap() {
	var abz = {lat:57.1497, lng:-2.0943};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 8,
		center: abz
	});

}

// This function places a marker on the passed map at the given location.
function placeMarker(map, location){
	var marker = new google.maps.marker({
		position: location,
		map: map
	});
}
</script>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
</script>

</body>
</html>
