<nav class="navbar navbar-dark" <% if ( title == 'Home' ) { %> style="box-shadow: .1px 1px 5px #1c2331" <% } %>>
	<div class="container-fluid">
		<!-- LOGO & BURGER MENU -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Findspot</a>
		</div>

		<%# TODO: push into hamburger to size for mobile %>
		<%# TODO: adjust searchbar size on <~1200 screens%>
		<!-- SEARCH BAR -->
		<form class="input-group col-sm-6 col-xs-2">
			<input name="loc" class="form-control searchbar" type="text" placeholder="e.g. Union Street, Aberdeen...">
			<span class="input-group-btn" style="z-index: 10; border-radius: 10px;">
				<button class="btn searchbar" type="button">Find</button>
			</span>
		</form>

		<!-- The main links in the navbar -->
		<button id="burgerButton" type="button" class="navbar-toggle btn" data-toggle="collapse" data-target="#myNav">
			&equiv;
		</button>

		<div id="myNav" class="pull-right linkbar centerNav collapse navbar-collapse">
			<ul class="nav navbar-nav linkbar">
				<li <% if ( title === 'Home' ) { %> class="active" <% } %>><a href="/">Map</a></li>
				<li <% if ( title === 'About' ) { %> class="active" <% } %>><a href="/about">About</a></li>
				<li <% if ( title === 'Help' ) { %> class="active" <% } %>><a href="/help">Help</a></li>
			</ul>
		</div>
	</div>
</nav>
